#overlay {
    background: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}

body {
    background-color: #f6f6f6;
    margin: 0;
}

#header {
    height: 56px;
    background-color: deepskyblue;
    color: #ffffff;
    max-width: none;
    padding-top: 12px;
    padding-bottom: 12px;
}

#header>.row .link a{
    line-height : 2.8;
    color: #ffffff;
}


#header .column{
    line-height : 1.5;
}

#title {
    font-size: 1.5em;
}

.container {
    background-color: #ffffff;
}

#date-select-area{
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 40px;
}

.popup-content-wrap {
    top: 60px;
    left: 0;
    right: 0;
    width: 980px;
    position: absolute;
    border-radius: 8px;
    background-color: white;
    margin: 0 auto;
}

.popup-content {
    width: 960px;
    height: 550px;
    margin: auto;
}

#popup-detail-table {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.google-visualization-tooltip {
    width:180px;
    height: 70px;
}
.google-visualization-tooltip > div.text{ 
    margin-top: 0.4em;
    margin-left: 1.0em;
    font-size: 1.4em;
}
